repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: "trailing-whitespace"
      - id: "debug-statements"
      - id: "end-of-file-fixer"
      - id: "check-toml"
      - id: "check-yaml"
  - repo: https://github.com/python-poetry/poetry
    rev: 1.3.1
    hooks:
    - id: poetry-check
      always_run: true
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.257"
    hooks:
      - id: ruff
