upstream www {
    server backend:${APP_BACKEND_PORT};
}

server {
    listen [::]:${APP_BACKEND_PORT};
    listen ${APP_BACKEND_PORT};

    location / {
        proxy_set_header X-Real-IP ${DOLLAR}remote_addr;
        proxy_set_header X-Forward-For ${DOLLAR}proxy_add_x_forwarded_for;
        proxy_set_header Host ${DOLLAR}http_host;

        proxy_pass http://www;
    }
}
