upstream www {
    server backend:${APPLICATION_EXTERNAL_PORT};
}

server {
    listen [::]:${APPLICATION_EXTERNAL_PORT};
    listen ${APPLICATION_EXTERNAL_PORT};

    location / {
        proxy_pass http://www;
    }
}
