version: "3.9"

services:
  backend:
    image: backend:latest
    build:
      context: ${PWD}
      dockerfile: docker/Dockerfile
    volumes:
      - ${PWD}/app:/app
    env_file:
      - ${PWD}/.env
    depends_on:
      database:
        condition: service_healthy
    expose:
      - ${BACKEND_PORT}
    restart: unless-stopped

  web:
    image: nginx:latest
    command: |
      /bin/bash -c "envsubst < /etc/nginx/conf.d/default.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    env_file:
      - ${PWD}/.env
    depends_on:
      - backend
    ports:
      - ${BACKEND_PORT}:${BACKEND_PORT}
    volumes:
      - ${PWD}/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ${PWD}/nginx/default.conf.template:/etc/nginx/conf.d/default.conf.template
      - web-root:/var/www/html

volumes:
  web-root:
