version: "3.9"

services:
  population:
    image: population:latest
    build:
      context: ${PWD}
      dockerfile: docker/Dockerfile.population
    volumes:
      - ${PWD}/:/app
    env_file:
      - ${PWD}/.env
    depends_on:
      database:
        condition: service_healthy
