version: "3.9"

services:
  tests:
    image: tests:latest
    build:
      context: ${PWD}
      dockerfile: ${PWD}/docker/Dockerfile.tests
    volumes:
      - ${PWD}/:/app
    env_file:
      - ${PWD}/.env
    depends_on:
      - tests_database
