<html lang="ru">
<div style="width:100%;font-family: monospace;">
    <h1>Привет!</h1>
    <p>Кто-то создал запрос на сброс и смену пароля. Если это были вы, вы можете сбросить сменить свой пароль, перейдя
        по ссылке ниже:</p>
    <a style="margin-top: 1rem; padding: 1rem; border-radius: 0.5rem; font-size: 1rem; text-decoration: none; "
       href="{{ host }}/password/reset/?token={{ token }}">Подтвердить</a>
    <p>Если это были не вы, пожалуйста, игнорируйте данное письмо!</p>
    <p>Ваш пароль не поменяется, если вы не перейдете по ссылке.</p>
</div>
</html>
